.vscode/
Lab1_Image_Processing/__pycache__/*
Lab2_Object_Detection_Recognition/__pycache__/*
Lab2_Object_Detection_Recognition/notebook/__pycache__/utils.cpython-312.pyc
Lab3_Object_Tracking/__pycache__/*
Lab3_Object_Tracking/notebook/__pycache__/*

